<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>CALC-BILL</title>
</head>
<body class="container">
    <h2 class="text-center bg-primary text-white">Lista płatności</h2>
    <p  class="text-center bg-warning text-white" th:text="${owner.name} + ' ' + ${owner.surname}"></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Wartość</th>
            <th scope="col">Rodzaj</th>
            <th scope="col">Data</th>
        </tr>
        </thead>
        <tr th:each="ownersPayments : ${ownersPayments}">
            <td th:text="${ownersPayments.id}"></td>
            <td th:text="${ownersPayments.amount}"></td>
            <td th:text="${ownersPayments.kind}"></td>
            <td th:text="${ownersPayments.date}"></td>
        </tr>
        <tr>
            <td><a th:href="@{/api/web/owners/}">Powrót</a></td>
            <td class="bg-primary"></td>
            <td class="bg-primary"></td>
            <td class="bg-primary"></td>
        </tr>
    </table>
</body>
</html>