<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>CALC-BILL</title>
</head>
<body class="container">
    <h2 class="text-center bg-info text-white">Edytuj dane płatności</h2>
    <form action="#" th:action="@{/api/web/payments/edit/{id}(id=${payment.id})}" th:object="${payment}" method="post" class="container border border-danger">
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Id</label>
            </div>
            <div class="col-sm-10">
                <input class="form-control" id="id" th:field="*{id}" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Wartość</label>
            </div>
            <div class="col-sm-10">
                <input class="form-control" id="amount" th:field="*{amount}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Rodzaj</label>
            </div>
            <div class="col-sm-10">
                <input class="form-control" id="kind" th:field="*{kind}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Aktualizuj</button>
            </div>
        </div>
    </form>
</body>
</html>