<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>CALC-BILL</title>
</head>
<body class="container">
    <h2 class="text-center bg-primary text-white">Lista wszystkich płatności</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Wartość</th>
            <th scope="col">Rodzaj</th>
            <th scope="col">Data</th>
        </tr>
        </thead>
        <tr th:each="payments : ${payments}">
            <td th:text="${payments.id}"></td>
            <td th:text="${payments.amount}"></td>
            <td th:text="${payments.kind}"></td>
            <td th:text="${payments.date}"></td>
        </tr>
        <tr>
            <td><a th:href="@{/}">Powrót</a></td>
            <td class="bg-primary"></td>
            <td class="bg-primary"></td>
            <td class="bg-primary"></td>
        </tr>
    </table>
    <form method="get" class="container border border-danger">
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Rodzaj płatności</label>
            </div>
            <div class="col-sm-10">
                <input class="form-control" id="kind" name="kind" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Filtruj dane według rodzaju</button>
            </div>
        </div>
    </form>
    <form method="get" class="container border border-danger">
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Wartość graniczna</label>
            </div>
            <div class="col-sm-5">
                <input class="form-control" placeholder="min" id="min" name="min" />
            </div>
            <div class="col-sm-5">
                <input class="form-control" placeholder="max" id="max" name="max" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Wypisz dane z przedziału</button>
            </div>
        </div>
    </form>
    <form class="container border border-danger">
        <div class="form-group row">
            <div class="col-sm-12">
                <a style="color: white" th:href="@{/api/web/payments/}">
                    <button type="button" class="btn btn-danger">Odśwież</button>
                </a>
            </div>
        </div>
    </form>
</body>
</html>