<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona Startowa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
    <a href="/web/add-owner">Dodaj Użytkownika</a>
    <a href="/web/add-payment">Dodaj Płatność</a>
    <h1 th:if="${owner != null}" th:text="${owner.name}"></h1>
    <h1 th:if="${payment != null}" th:text="${payment.amount}"></h1>
    <h1 th:if="${sumOwnerPayments != null}" th:text="${sumOwnerPayments}"></h1>
    <h1 th:if="${sumOwnerPaymentsByKind != null}" th:text="${sumOwnerPaymentsByKind}"></h1>
    <table>
        <tr th:each="owners : ${owners}">
            <td th:text="${owners.id}"></td>
            <td th:text="${owners.name}"></td>
            <td th:text="${owners.surname}"></td>
            <td><a th:href="@{/web/add-payment/{id}(id=${owners.id})}">Dodaj płatność</a></td>
            <td><a th:href="@{/web/owner-payments/{id}(id=${owners.id})}">Lista płatności</a></td>
        </tr>
    </table>
    <table>
        <tr th:each="payments : ${payments}">
            <td th:text="${payments.id}"></td>
            <td th:text="${payments.amount}"></td>
            <td th:text="${payments.kind}"></td>
            <td th:text="${payments.date}"></td>
        </tr>
    </table>
    <table>
        <tr th:each="ownerPayments : ${ownerPayments}">
            <td th:text="${ownerPayments.id}"></td>
            <td th:text="${ownerPayments.amount}"></td>
            <td th:text="${ownerPayments.kind}"></td>
            <td th:text="${ownerPayments.date}"></td>
        </tr>
    </table>
    <table>
        <tr th:each="paymentsByKind : ${paymentsByKind}">
            <td th:text="${paymentsByKind.id}"></td>
            <td th:text="${paymentsByKind.amount}"></td>
            <td th:text="${paymentsByKind.kind}"></td>
            <td th:text="${paymentsByKind.date}"></td>
        </tr>
    </table>
    <table>
        <tr th:each="ownerPaymentsByKind : ${ownerPaymentsByKind}">
            <td th:text="${ownerPaymentsByKind.id}"></td>
            <td th:text="${ownerPaymentsByKind.amount}"></td>
            <td th:text="${ownerPaymentsByKind.kind}"></td>
            <td th:text="${ownerPaymentsByKind.date}"></td>
        </tr>
    </table>
    <table>
        <tr th:each="paymentsByAmount : ${paymentsByAmount}">
            <td th:text="${paymentsByAmount.id}"></td>
            <td th:text="${paymentsByAmount.amount}"></td>
            <td th:text="${paymentsByAmount.kind}"></td>
            <td th:text="${paymentsByAmount.date}"></td>
        </tr>
    </table>
    <table>
        <tr th:each="ownerPaymentsByAmount : ${ownerPaymentsByAmount}">
            <td th:text="${ownerPaymentsByAmount.id}"></td>
            <td th:text="${ownerPaymentsByAmount.amount}"></td>
            <td th:text="${ownerPaymentsByAmount.kind}"></td>
            <td th:text="${ownerPaymentsByAmount.date}"></td>
        </tr>
    </table>
</body>
</html>