<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Strona Startowa</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </head>
    <body class="container">
        <h2 class="text-center bg-primary text-white">Strona główna</h2>
        <table class="table table-hover">
            <tr>
                <td>Test aplikacji:</td>
                <td><a th:href="@{/greeting}">kliknij</a></td>
            </tr>
            <tr>
                <td>Wyświetl użytkowników:</td>
                <td><a th:href="@{/api/web/owners}">kliknij</a></td>
            </tr>
            <tr>
                <td>Wyświetl wszystkie płatności:</td>
                <td><a th:href="@{/api/web/payments}">kliknij</a></td>
            </tr>
            <tr>
                <td>Dodaj użytkownika:</td>
                <td><a th:href="@{api/web/owners/add}">kliknij</a></td>
            </tr>
        </table>
    </body>
</html>